<% provide(@picture) %>

<div class="media">
  <%= image_tag @picture.url, class: "mr-3" %>
  <div class="media-body">
    <h5 class="mt-0"><%= @picture.name %></h5>
    <%= @picture.url %>
   </div>
</div>